@charset "UTF-8";

:root {
    --amarelo: #FFFD0D;
    --azul: #2D95ED;
}
@font-face {
    font-family: 'burger';
    src: url('assets/insaniburger/Insanibc.ttf') format('truetype');
}
@font-face {
    font-family: 'tabarra';
    src: url('assets/tabarra/TabarraPro-Light-FFP.ttf') format('truetype');
}
@font-face {
    font-family: 'tabarra-strong';
    src: url('assets/tabarra/TabarraPro-Black-FFP.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'tabarra', sans-serif;
    font-weight: bold;
}
.burger {
    font-family: 'burger';    
}
.section {
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom: 70px;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.arial {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}
.wrap {
    flex-wrap: wrap;
}


/* PRIMEIRA SECTION */

.section-video {
    background-image: linear-gradient(90deg, #000, #3533cd );
}
.logo {
    display: flex;
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 50%;
}
.number {
    color: var(--amarelo);
    font-size: 30px;
    display: flex;
    font-weight: 100;
    text-shadow: 0px 0px 4px #3332328a;
}
.white {
    color: white;
}
.play {
    height: 50px;
    width: 50px;
}


h1 {
    text-transform: uppercase;
    font-family: 'burger';
    text-align: center;
}
.rocket {
    position: absolute;
    width: 70px;
    right: -80px;
    top: -10px;
}
.h1-1 {
    font-size: 30px;
    width: 80%;
    color: var(--amarelo);
    margin-top: 25px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 4px #0000008a;
    font-weight: 100;
} 
.h1-2 {
    position: relative;
    font-size: 60px;
    color: #FFF;
    letter-spacing: 3px;
    text-shadow: 0px 0px 4px #3332328a;
}
iframe {
    width: 90%;
    max-width: 600px;
    height: 370px;
    margin: 30px 0px 10px 0px;
}
.bg-yellow-left {
    border-radius: 30px 70px 70px 30px;
    background-image: linear-gradient(to bottom left, #FBD324, var(--amarelo));
}
.bg-yellow-right {
    background-image: linear-gradient(to bottom right, #FBD324, var(--amarelo));
    border-radius: 70px 30px 30px 70px;
    text-align: right;
}
.yellow-box {
    background-color: var(--amarelo);
    padding: 20px;
    font-size: 18px;
    width: 280px;
}
.box {
    margin-top: 25px;
    flex-wrap: wrap;
}


.square-div {
    font-family: 'burger', sans-serif;
    font-weight: 100;
    border-radius: 9px;
    background-color: #fff;
    color: #2D95ED;
    height: 80px;
    width: 80px;
    margin: 5px;
}
.square-div span {
    font-size: 40px;
    font-weight: bold;
}
.ampulheta {
    transform: rotate(-20deg);
    margin-right: 5px;
    height: 90px;
}

/* SEGUNDA SECTION */

.section-planos {
    background-color: #FFF;
    gap: 25px;
    color: #fff;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.column {
    background-color: var(--azul);
    border-radius: 0px 30px 0px 10px;
    /* height: 915px; */
    height: 400px;
    width: 240px;
    margin-top: 0px;
    padding-bottom: 40px;
    padding-top: 10px;
    transform: translateY(-10px);
    /* aqui */
}
.column-header {
    background-color: var(--azul);
    border-radius: 0px 25px 0px 10px;
    padding: 10px;
    width: 240px;
    margin: 10px 0px 0px 0px;
    font-size: 19px;
    /* margin-bottom: 20px; */
    text-align: center;
}
.ch-yellow {
    background-color: var(--amarelo);
    color: gray;
    margin-top: 0;
    transform: translateY(-22px);
}
.ch-gray {
    color: var(--amarelo);
    background-color: gray;
    margin-top: 0;
    transform: translateY(-22px);
}
.ch-blue {
    transform: translateY(-22px);
    margin-top: 0;
}
.ch-2 {
    border-bottom-left-radius: 0;
    padding-bottom: 30px;
}
.ch-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    height: 90px;
}

.linha {
    /* border-bottom: 2px solid #fff; */
    width: 90%;
    /* margin: 15px; */
    padding: 15px;
    text-align: center;
}
.linha-maior {
    /* border-bottom: 2px solid #fff; */
    width: 90%;
    padding: 17px;
    text-align: center;
}
.vip {
    font-family: 'burger';
    font-size: 21px;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: var(--amarelo);
}
.buy {
    font-family: 'tabarra-strong';
    color: #F78012;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    border: none;
    background: none;
    letter-spacing: 2px;
}
.buy-1 {
    color: #FABB17;
    margin-top: 50px;
    transform: translateY(20px);
}
strong {
    font-family: 'tabarra-strong';
    /* font-weight: 900; */
}
.strong-yellow {
    color: #FFFD0D;
}
.bonus-1 {
    height: 500px;
    width: 200px;
    margin-top: 20px;
}
.bonus-2 {
    height: 400px;
    width: 200px;
    margin-top: 0px;
    transform: translateY(-30px);
}
.column-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: #70BCFD;
    border-radius: 0px 15px 0px 15px;
    padding: 40px;
    width: 240px;
    margin: 0;
    font-size: 40px;
    letter-spacing: 1px;
    font-family: 'burger';
    transform: translateY(-55px);
    font-weight: lighter;
}
.all {
    /* font-size: 24px; */
    font-size: 20px;
    text-align: center;
    font-family: 'tabarra-strong';
}
.cf-y {
    background-color: var(--amarelo);
    color: #000;
    transform: translateY(-32px);
    padding: 20px;
    padding-bottom: 5px;
}
.times {
    display: block;
    font-size: 22px;
    width: 45px;
    color: #747474;
    font-weight: lighter;
    text-align: left;
}
.times .arial {
    font-weight: bold;
}
.price {
    color: #747474;
    font-size: 55px;
}
.old {
    font-size: 24px;
    text-align: right;
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 4px;
}
.vista {
    font-size: 18px;
    text-align: right;
}
.arial-price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}
.column-footer-1 {
    gap: 8px;
    transform: translateY(-35px);
    padding-bottom: 5px;
    height: 223px;
}
.testar {
    padding: 15px;
    color: #FFF;
    background-color: #3DCD00;
    border-radius: 25px;
    font-family: 'burger';
    font-size: 24px;
    border: none;
    display: block;
    margin: auto;
}

/* TERCEIRA SECTION */

.bonus-vip {
    max-width: 800px;
    width: 90%;
    min-height: 240px;
    background-color: var(--azul);
    margin-bottom: 30px;
    border-radius: 0px 20px 0px 50px;
    padding: 0px 0px 15px 0px;
}
.title {
    color: var(--azul);
    background-color: var(--amarelo);
    text-align: center;
    border-radius: 0px 15px 0px 15px;
    font-size: 24px;
    letter-spacing: 3px;
    padding: 8px;
}
.div-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
}
.bonus-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    color: white;
    width: 240px;
    margin: auto;
    padding: 7px;
}
.bonus-imgs img {
    height: 90px;
}
img.trophy {
    height: 80px;
}
.reverse {
    flex-direction: row-reverse;
}
section.section-pix#section-3 {
    padding-top: 0;
    background-color: #FFF;
    min-height: initial;
}
.pix {
    background-color: #F13730;
    letter-spacing: 2px;
    padding: 10px;
    width: 90%;
    max-width: 600px;
    border-radius: 0px 20px 0px 20px;
    margin: auto;
    color: #FFF;
    font-family: 'tabarra-strong';
    font-style: italic;
    font-size: 21px;
    text-align: center;
    margin-bottom: 60px;
}
.div-qr-codes img {
    height: 180px;
    margin-bottom: 10px;
}
.div-qr-codes {
    border: 4px solid #F13730;
    padding: 20px;
    border-radius: 15px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;

}
.div-qr-codes p {
    margin-bottom: 0;
}

/* QUARTA SECTION */

section.comments {
    background-color: var(--azul);
    padding-bottom: 0px;
}
.comments h2 {
    color: var(--amarelo);
    font-family: 'burger';
    font-size: 38px;
    margin: auto;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 4%;
}
.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    flex-wrap: wrap;
}
.comment {
    background-color: #fff;
    max-width: 500px;
    min-height: 200px;
    font-size: 15px;
    padding: 20px;
    border-radius: 70px 0px 70px 0px;
    border: 2px solid var(--amarelo);
    margin: 10px 10px 10px 10px;
}
.person span {
    color: #000;
    margin-left: 9px;
    font-size: 18px;
    /* font-size: 22px; */
}
.comment img {
    border-radius: 50%;
    height: 50px;
    /* margin-left: 20px; */
}
.person {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.comment-4 {
    padding-bottom: 5px;
}

/* QUINTA SECTION */

.big-number {
    height: 180px;
}
section.vantagens {
    color: #fff;
    font-size: 18px;
    gap: 10px;
    padding-bottom: 40px;
}
.vantagem {
    background-color: #046fcd;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    width: 95%;
    max-width: 800px;
}
.out-image {
    height: 100px;
    margin-left: 5px;
}


img.certificado {
    /* width: 100%; */
    height: 100%;
    margin: 10px 0px 10px 0px;
    /* max-width: 500px; */
    width: 100%;
}
.div-certificado {
    /* flex-wrap: wrap; */
}
.caracteristicas {
    max-width: 300px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caracteristicas p {
    text-align: center;
    margin: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    position: relative;
}
.small-number {
    color: var(--azul);
}
.div-img-certificado {
    /* width: 100%; */
    /* max-width: 500px; */
    width: 100%;
    max-width: 500px;
    /* height: 350px; */
}
h2.white {
    color: #FFF;
}
.seta {
    position: absolute;
    height: 140px;
    height: 130px;
}
.seta-1 {
    /* top: -20px;
    right: -120px;
    transform: rotate(-16deg) rotateX(174deg);     */
    top: -10px;
    right: -120px;
    transform: rotate(150deg) rotateX(174deg); 
}
.seta-2 {
    top: -15px;
    right: -130px;
    transform: rotate(160deg) rotateX(200deg); 
}
.seta-3 {
    top: -15px;
    right: -130px;
    transform: rotate(240deg) rotateX(0deg);
}
.seta-4 {
    /* top: -15px; */
    top: 5px;
    right: -40px;
    transform: rotate(240deg) rotateX(0deg);
}
.seta-5 {
    top: -20px;
    left: -120px;
    transform: rotate(30deg) rotateX(0deg);
}
.seta-6 {
    top: -20px;
    left: -120px;
    transform: rotate(30deg) rotateX(0deg);
}
.seta-7 {
    top: -10px;
    left: -120px;
    transform: rotate(300deg) rotateX(210deg);
}
.seta-8 {
    top: -10px;
    left: -55px;
    transform: rotate(300deg) rotateX(210deg);
}

.text {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin: 15px 5px 15px 5px;
    max-width: 700px;
}
.text span {
    font-family: 'tabarra-strong';
    letter-spacing: 1px;
    font-size: 21px;
    color: var(--amarelo);
}
.destaque {
    font-family: 'tabarra-strong';
    max-width: 550px;
    font-size: 21px;
}
.flex-column-text {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    /* margin-top: 50px; */
    margin-top: 3%;
}
.vou-querer {
    display: block;
    margin: 20px auto 0px auto;
    padding: 10px 12px 10px 12px;
    background-color: #F13730;
    border-radius: 35px;
    color: #fff;
    font-size: 20px;
    font-family: 'burger';
    width: 100%;
    max-width: 230px;
    border: none;
    position: relative;
}
.vou-querer-2 {
    margin-bottom: 70px;
}
.vou-querer img {
    position: absolute;
    transform: rotate(-28deg);
    right: -40px;
    height: 70px;
}

/* FOOTER */

footer {
    background-color: #fff;
    min-height: 300px;
    padding-top: 50px;
    padding-bottom: 20px;
}
footer.flex-row {
    /* gap: 40px; */
}
footer .arial {
    font-weight: normal;
}
footer p {
    font-size: 16px;
}
.strong {
    font-family: 'tabarra-strong';
    /* margin-top: 50px; */
    margin-bottom: 10px;
}
.blue-arial {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--azul);
    font-size: 17px;
}
.azul {
    color: var(--azul);
}
.footer-div {
    width: 300px;
    height: 150px;
}
.creditos {
    font-size: 16px;
    text-align: center;
}

/* teste */
.flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.smaller-footer-div {
    height: 150px;
    width: 170px;
}
footer.flex-column {
    gap: 30px;
}
/* QUINTA SECTION */

h3 {
    color: #fff;
    text-align: right;
    font-family: 'tabarra-strong';
    font-size: 25px;
}
h4 {
    color: var(--amarelo);
    font-size: 25px;
    font-family: 'tabarra-strong';
}
.buying {
    max-width: 650px;
    font-size: 20px;
    margin: 15px;
}
.buying div {
    text-align: right;
}
.buying img {
    height: 240px;
}
.div-img-buying {
    padding: 40px 30px 10px 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #55545457;   
}
.div-buying {
    width: 97%;
    max-width: 345px;
}
div.reverse-row {
    flex-direction: row-reverse;
}
.reverse-row p, .reverse-row h3, .reverse-row h4 {
    text-align: left;
}
.qr-code {
    background-color: #FFF;
    margin-top: 4%;
}
.chave-pix {
    font-size: 25px;
    font-family: 'tabarra-strong';
    text-align: center;
    color: var(--amarelo);
    margin: 5px 0px 50px 0px;
}
.title-white {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}
.subtitle-yellow {
    font-size: 22px;
    color: var(--amarelo);
    font-family: 'tabarra-strong';
    text-align: center;
    margin: 0px 5px 0px 5px;
}


/* MEDIA QUERIES */


@media all and (max-width: 1112px) {
    div.div-certificado {
        /* flex-direction: column; */
    }
    div.caracteristicas {
        width: 230px;
    }
    .seta-8 {
        left: -110px;
        top: -30px;
    }
}
@media all and (max-width: 960px) {
    .seta-4 {
        top: 0px;
        left: 140px;
        transform: rotate(220deg);
    }
}

@media all and (max-width: 860px) {
    .seta {
        display: none;
    }
    .div-certificado {
        flex-direction: column;
    }
    .small-number {
        font-family: 'burger';
        color: #fff;
        font-size: 22px;
        background-color: #577bf6;
        padding: 1px 9px 1px 9px;
        border-radius: 50%;
    }
    .caracteristicas p {
        
    }
    div.caracteristicas {
        width: 100%;
    }
}

@media all and (max-width: 730px) {
    .div-img-buying img {
        height: 160px;
    }
    .div-img-buying {
        padding: 10px;
    }
}

@media all and (max-width: 660px) {
    .rocket {
        display: none;
    }    
    img.big-number {
        height: 70px;
    }
    img.out-image {
        height: 70px;
    }
    div.div-buying {
        text-align: center;
    }
    h3, .reverse-row h3, .reverse-row h4, .reverse-row p {
        text-align: center;
    }
    div.buying {
        flex-direction: column;
    }
    .div-img-buying {
        padding: 10px;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 450px) {
    img.out-image {
        display: none;
    }
    .title-white {
        font-size: 29px;
    }
    footer p {
        font-size: 14px;
    }
    .creditos {
        font-size: 14px;
    }
    footer.flex-row {
        gap: 0px;
    }
    .footer-div {
        height: auto;
        margin: 10px;
    }
    .pix span.arial {
        display: block;
    }
}

@media all and (max-width: 390px) {
    .vantagem .flex-row {
        flex-direction: column;
        text-align: center;

    }
    .ampulheta {
        display: none;
    }
    img.big-number {
        height: 50px;
        background-color: var(--azul);
        border-radius: 50%;
        padding: 3px;
    }
    .vou-querer img {
        display: none;
    }
    .footer-div p {
        font-size: 13px;
    }
    .blue-arial {
        font-size: 14px;
    }
    .footer-div {
        width: 220px;
    }
    .footer-div.smaller-footer-div {
        width: 110px;
    }
    .creditos {
        margin-top: 5px;
        font-size: 12px;
    }
}

@media all and (max-width: 320px) {
    section.comments h2 {
        font-size: 30px;
    }
    .caracteristicas p {
        border-radius: 5px;
    }
}
